.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: black;
    text-align: center;
}

.img1{

    display: block;
    margin: 0 auto;
    width: 100vh !important; 
    min-height:100vh !important;
    position: center;
    size: cover;
}

.caixa{
    background-color: #cbc6c6;
    }

.postagens {
        background-color: rgb(108, 5, 148) !important;
        
}
